<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.subham.breathe">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_group_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_group_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BreakSplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_break_splash"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Home">
        </activity>

<!--        <service-->
<!--            android:name=".ScheduleService"-->
<!--            android:label="@string/app_name"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

<!--        <receiver android:name=".SchedulerReceiver">-->
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
<!--                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />-->
<!--                <action android:name="android.intent.action.USER_PRESENT" />-->
<!--                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <receiver
            android:name=".SchedulerReceiverForAlarmService"
            android:process=":remote" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".SchedulerServiceViaIntentService"
            android:exported="false" />
    </application>

</manifest>